/* Reset the default CSS set */
@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Unica+One');



html {
  background-color: hsl(66, 0%, 12%);
}

body {
  position: relative;
  margin: 50px auto 0 auto;

  width: 1000px; height: 860px;

  background-color: hsla(262, 95%, 79%, 0.9);
  border-radius: 3px;

}

div.site-logo {
  width: 100%;

  position: absolute;
  bottom: 100px;
  text-align: center;
  z-index: -1;

  color: #fff;
  font:inherit;
  font-family: 'Libre Barcode 128 Text', cursive, sans-serif !important;
  font-size: 180px;
  word-spacing: 50px;


}

.navigation-bar {
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: 900px; height: 50px;
}

.nav-input {
  color: white;
  background: #2b2c2b;
  box-sizing: border-box;
  width: 100%;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  border: 15px double #1f1f1f;
  border-radius: 5px;
}

.navigation-bar nav input:hover {
  box-shadow: 3px 3px 2px 0px #d8d8d8;
}
 .navigation-bar nav input:focus {
   box-shadow: 3px 3px 5px 0px #d8d8d8;
   outline: none;
}

.content-area {
  background-color: #0003;
  margin: 75px auto;
  width: 900px; height: 650px;
  border-radius: 2px;
}

.content-area section h1 {
  display: none;
  position: relative;
  top: 10px;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.content-area .section-data {
  //display: none;
  margin-left: 40px;
  font-size: 20px;
  color: #fff;

  //font-weight: bold;
}

.footer-area {
  position: absolute;
  bottom: 0;
  height:20px; width: 1000px;
  border: 2px solid red;
}

#pni-h3 {
  font-size: 25px;
  font-weight: bold;
}
